{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
	<h1>Rango says ....</h1>
	hey there partner!
	<strong>{{ boldmessage }}</strong>
	<h1>Most viewed categories</h1>
	{% if categories %}
	<ul>
		{% for category in categories %}
		<li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There is no category present.</strong>
	{% endif %}
	<h1>Most viewed pages</h1>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<strong>There are no pages..</strong>
	{% endif %}
	<img src="{% static "images/exo.jpg" %}" alt="EXO">
{% endblock %}